argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
certifi==2024.2.2
cffi==1.16.0
Django==5.0.2
django-auditlog==3.0.0
django-cors-headers==4.3.1
django-crum==0.7.9
django-minio-storage==0.5.7
django-seeding==1.2.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.0
drf-spectacular-sidecar==2024.1.1
minio==7.2.7
numpy==1.26.4
pandas==2.2.2
pillow==10.2.0
psycopg==3.1.18
psycopg-binary==3.1.18
pycparser==2.22
pycryptodome==3.20.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
python-magic==0.4.27
weasyprint==62.3